<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.checkmyuniverse.locationfetchhelper">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <activity android:name=".newsdk.HelpActivity"></activity>
        <activity
            android:name=".deprecated.LocationFetchHelper$LocationFetchActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".newsdk.LocationFetchManagerImplementer$LocationPermissionCheckActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".newsdk.LocationFetchManagerImplementer$LocationFetchActivityOld"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".newsdk.LocationFetchManagerImplementer$LocationFetchActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <service
            android:name=".deprecated.LocationFetchHelper$LocationFetchService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>