<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.checkmyuniverse.locationfetchhelper" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <activity
            android:name="LocationFetchHelper$LocationFetchActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <service
            android:name="LocationFetchHelper$LocationFetchService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
